# source
git /extensions/SDLFont                https://github.com/OpenEngineDK/extensions-SDLFont.git
git-dev /extensions/SDLFont                git@github.com:OpenEngineDK/extensions-SDLFont.git

# windows lib
win32 /libraries http://openengine.dk/data/libraries/sdlttf-win32.zip
